dify/digital-office-workflow.yml
app:
  description: 'Цифровой Офис: генерация протокола и поручений, Q&A по записи, справка-обоснование
    назначения, справка о выполненной работе. Маршрутизация по полю command.'
  icon: 🏛️
  icon_background: '#E0F2FE'
  mode: advanced-chat
  name: Цифровой Офис — Workflow
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: scibox/document-generator:0.0.1@dd7c5e14746b852f9a4c319bee5bf633135d35657a69415289652216e39b7865
    version: null
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: langgenius/openai_api_compatible:0.0.35@bb81bce2b7e04af8178eb2fb36cc6e1eb75aadbc98d31bc2c858b4648ba63c26
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types:
      - document
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: question-classifier
        isInIteration: false
        isInLoop: false
      id: e-start-classifier
      source: start
      sourceHandle: source
      target: classifier
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: question-classifier
        targetType: llm
        isInIteration: false
        isInLoop: false
      id: e-classifier-protocol
      source: classifier
      sourceHandle: cls_protocol
      target: llm_protocol
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: question-classifier
        targetType: llm
        isInIteration: false
        isInLoop: false
      id: e-classifier-qa
      source: classifier
      sourceHandle: cls_qa
      target: llm_qa
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: question-classifier
        targetType: knowledge-retrieval
        isInIteration: false
        isInLoop: false
      id: e-classifier-justify-kr
      source: classifier
      sourceHandle: cls_justification
      target: kr_duties
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: question-classifier
        targetType: llm
        isInIteration: false
        isInLoop: false
      id: e-classifier-memo
      source: classifier
      sourceHandle: cls_memo
      target: llm_memo
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
        isInIteration: false
        isInLoop: false
      id: e-kr-justify
      source: kr_duties
      sourceHandle: source
      target: llm_justification
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: llm
        targetType: answer
        isInIteration: false
        isInLoop: false
      id: e-protocol-answer
      source: llm_protocol
      sourceHandle: source
      target: answer_protocol
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: llm
        targetType: answer
        isInIteration: false
        isInLoop: false
      id: e-qa-answer
      source: llm_qa
      sourceHandle: source
      target: answer_qa
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: llm
        targetType: answer
        isInIteration: false
        isInLoop: false
      id: e-justify-answer
      source: llm_justification
      sourceHandle: source
      target: answer_justification
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: llm
        targetType: answer
        isInIteration: false
        isInLoop: false
      id: e-memo-answer
      source: llm_memo
      sourceHandle: source
      target: answer_memo
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 'Вход. Команда маршрутизации и текстовые поля, которые передаёт backend.'
        selected: false
        title: Start
        type: start
        variables:
        - label: Команда
          max_length: 64
          options: []
          required: false
          type: text-input
          variable: command
        - label: Транскрипт / текст встречи
          max_length: 48000
          options: []
          required: false
          type: paragraph
          variable: transcript
        - label: Контекст (выбранные протоколы/записи)
          max_length: 48000
          options: []
          required: false
          type: paragraph
          variable: context
        - label: Вопрос
          max_length: 2000
          options: []
          required: false
          type: paragraph
          variable: question
        - label: Поручение
          max_length: 4000
          options: []
          required: false
          type: paragraph
          variable: assignment
        - label: Ответственный
          max_length: 256
          options: []
          required: false
          type: text-input
          variable: responsible
        - label: Направление
          max_length: 256
          options: []
          required: false
          type: text-input
          variable: department
        - label: Фрагмент-источник
          max_length: 8000
          options: []
          required: false
          type: paragraph
          variable: source_fragment
      height: 200
      id: start
      position:
        x: 80
        y: 320
      positionAbsolute:
        x: 80
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 'Маршрутизация по команде (backend дублирует команду в начало запроса).'
        classes:
        - id: cls_protocol
          name: Извлечение протокола
        - id: cls_qa
          name: Вопросы пользователя
        - id: cls_justification
          name: Справка-обоснование
        - id: cls_memo
          name: Создание справки(служебной записки)
        instruction: 'Определи команду по тексту запроса. В начале запроса backend
          указывает точное название команды — используй его.'
        model:
          completion_params:
            temperature: 0.0
          mode: chat
          name: qwen3-32b-fp8-v2
          provider: langgenius/openai_api_compatible/openai_api_compatible
        query_variable_selector:
        - sys
        - query
        selected: false
        title: Маршрутизатор команд
        topics: []
        type: question-classifier
      height: 200
      id: classifier
      position:
        x: 400
        y: 320
      positionAbsolute:
        x: 400
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 'Извлечение протокола и поручений из транскрипта. Сохраняет source_fragment
          и reason_comment для обоснования и jump-to-fragment.'
        model:
          completion_params:
            temperature: 0.4
          mode: chat
          name: qwen3-32b-fp8-v2
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: sys-protocol
          role: system
          text: "Ты модуль подготовки протокола и извлечения поручений из материалов\
            \ встречи. На вход приходит готовый протокол или сырая транскрибация.\n\
            Верни строго один JSON-объект (без markdown) со структурой:\n{\n  \"meeting_title\"\
            : строка,\n  \"protocol_date\": \"YYYY-MM-DD\" или \"\",\n  \"protocol_number\"\
            : строка,\n  \"body\": связный текст протокола,\n  \"tasks\": [\n    {\n\
            \      \"assignment\": текст поручения,\n      \"responsible\": ФИО или\
            \ \"\",\n      \"department\": направление,\n      \"deadline\": \"YYYY-MM-DDTHH:mm:ss\"\
            \ или \"\",\n      \"status\": \"Новое\" | \"Требует проверки\",\n     \
            \ \"confidence\": число 0..1,\n      \"reason_comment\": почему так назначено,\n\
            \      \"source_fragment\": дословный фрагмент-источник из записи\n    }\n\
            \  ]\n}\nНе включай в tasks присутствующих без действий, шапку и подписи.\
            \ Не придумывай ФИО и сроки."
        - id: usr-protocol
          role: user
          text: '{{#start.transcript#}}'
        selected: false
        structured_output_enabled: false
        title: LLM Протокол
        type: llm
        vision:
          enabled: false
      height: 120
      id: llm_protocol
      position:
        x: 720
        y: 60
      positionAbsolute:
        x: 720
        y: 60
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 'Ответ на вопрос только по записи встречи / протоколу.'
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: qwen3-32b-fp8-v2
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: sys-qa
          role: system
          text: "Ты — ассистент, который отвечает на вопросы только на основе записи\
            \ встречи или её транскрипта/протокола. Отвечай кратко, точно и без домыслов.\
            \ Если информации в записи нет — так и скажи. При необходимости цитируй\
            \ фрагменты разговора."
        - id: usr-qa
          role: user
          text: 'Вопрос: {{#start.question#}}


            Контекст:

            {{#start.context#}}'
        selected: false
        structured_output_enabled: false
        title: LLM Вопросы
        type: llm
        vision:
          enabled: false
      height: 120
      id: llm_qa
      position:
        x: 720
        y: 240
      positionAbsolute:
        x: 720
        y: 240
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - bCDop8iBsjMPI8QwUTpCNtLb1c8Ma/aptrAvy+DNBdnjEckBCH0J6AXGlXxqB/tU
        desc: 'Поиск должностных обязанностей ответственного (направления деятельности).'
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          score_threshold: 0.3
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: bge-m3-v2
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
            weight_type: customized
        query_variable_selector:
        - start
        - responsible
        retrieval_mode: multiple
        selected: false
        title: Поиск должностных обязанностей
        type: knowledge-retrieval
      height: 100
      id: kr_duties
      position:
        x: 720
        y: 420
      positionAbsolute:
        x: 720
        y: 420
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - kr_duties
          - result
        desc: 'Справка-обоснование: на основании какого фрагмента и какой должностной
          обязанности поручение назначено на сотрудника (ТЗ 2Б).'
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: qwen3-32b-fp8-v2
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: sys-justify
          role: system
          text: "Ты формируешь справку-обоснование назначения поручения. Верни строго\
            \ один JSON-объект без markdown:\n{\n  \"fragment\": дословный фрагмент\
            \ записи, на основании которого принято решение,\n  \"duty\": должностная\
            \ обязанность сотрудника из базы знаний, обосновывающая назначение,\n \
            \ \"text\": связный текст справки, объясняющий, почему поручение назначено\
            \ на этого сотрудника\n}\nИспользуй только переданный фрагмент-источник\
            \ и контекст базы знаний. Не придумывай обязанности, которых нет в контексте."
        - id: usr-justify
          role: user
          text: 'Поручение: {{#start.assignment#}}

            Ответственный: {{#start.responsible#}}

            Направление: {{#start.department#}}

            Фрагмент-источник: {{#start.source_fragment#}}


            Контекст базы знаний (должностные обязанности):

            {{#context#}}'
        selected: false
        structured_output_enabled: false
        title: LLM Обоснование
        type: llm
        vision:
          enabled: false
      height: 120
      id: llm_justification
      position:
        x: 1040
        y: 420
      positionAbsolute:
        x: 1040
        y: 420
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 'Справка о выполненной работе (служебная записка) по тексту исполнения.'
        model:
          completion_params:
            temperature: 0.5
          mode: chat
          name: qwen3-32b-fp8-v2
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: sys-memo
          role: system
          text: "Ты составляешь служебную записку (справку о выполненной работе) на\
            \ основе данных о задаче и описания того, что сделал сотрудник. Пиши официально,\
            \ по делу, без домыслов. Верни готовый текст справки."
        - id: usr-memo
          role: user
          text: '{{#start.context#}}


            Поручение: {{#start.assignment#}}

            Ответственный: {{#start.responsible#}}'
        selected: false
        structured_output_enabled: false
        title: LLM Справка
        type: llm
        vision:
          enabled: false
      height: 120
      id: llm_memo
      position:
        x: 720
        y: 600
      positionAbsolute:
        x: 720
        y: 600
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#llm_protocol.text#}}'
        desc: ''
        selected: false
        title: Ответ — Протокол
        type: answer
        variables: []
      height: 100
      id: answer_protocol
      position:
        x: 1040
        y: 60
      positionAbsolute:
        x: 1040
        y: 60
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#llm_qa.text#}}'
        desc: ''
        selected: false
        title: Ответ — Вопросы
        type: answer
        variables: []
      height: 100
      id: answer_qa
      position:
        x: 1040
        y: 240
      positionAbsolute:
        x: 1040
        y: 240
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#llm_justification.text#}}'
        desc: ''
        selected: false
        title: Ответ — Обоснование
        type: answer
        variables: []
      height: 100
      id: answer_justification
      position:
        x: 1360
        y: 420
      positionAbsolute:
        x: 1360
        y: 420
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#llm_memo.text#}}'
        desc: ''
        selected: false
        title: Ответ — Справка
        type: answer
        variables: []
      height: 100
      id: answer_memo
      position:
        x: 1040
        y: 600
      positionAbsolute:
        x: 1040
        y: 600
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.7
