dify/Ассистент Цифровой Офис (1).yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: Ассистент Цифровой Офис
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: scibox/document-generator:0.0.1@dd7c5e14746b852f9a4c319bee5bf633135d35657a69415289652216e39b7865
    version: null
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: langgenius/openai_api_compatible:0.0.35@bb81bce2b7e04af8178eb2fb36cc6e1eb75aadbc98d31bc2c858b4648ba63c26
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables:
  - description: ''
    id: 7a33778e-8941-4818-b5c4-f90fef6a1631
    name: text
    selector:
    - conversation
    - text
    value: ''
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      - document
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        audio_file_size_limit: 1024
        batch_count_limit: 25
        file_size_limit: 1024
        image_file_size_limit: 1024
        video_file_size_limit: 1024
        workflow_file_upload_limit: 1024
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1778584314768-false-1778584348594-target
      selected: false
      source: '1778584314768'
      sourceHandle: 'false'
      target: '1778584348594'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1778584314768-true-1778584214091-target
      selected: false
      source: '1778584314768'
      sourceHandle: 'true'
      target: '1778584214091'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: iteration
      id: 1778584214091-source-1778584361283-target
      selected: false
      source: '1778584214091'
      sourceHandle: source
      target: '1778584361283'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1778584361283'
        sourceType: iteration-start
        targetType: code
      id: 1778584361283start-source-1778584973949-target
      selected: false
      source: 1778584361283start
      sourceHandle: source
      target: '1778584973949'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1778585263221-false-1778585283720-target
      selected: false
      source: '1778585263221'
      sourceHandle: 'false'
      target: '1778585283720'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1778585263221-true-1778585306792-target
      selected: false
      source: '1778585263221'
      sourceHandle: 'true'
      target: '1778585306792'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1778584361283'
        sourceType: code
        targetType: knowledge-retrieval
      id: 1778586349438-source-1778584397578-target
      selected: false
      source: '1778586349438'
      sourceHandle: source
      target: '1778584397578'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1778586663990-source-1778584314768-target
      selected: false
      source: '1778586663990'
      sourceHandle: source
      target: '1778584314768'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: document-extractor
      id: 1778591900673-true-1778583976634-target
      selected: false
      source: '1778591900673'
      sourceHandle: 'true'
      target: '1778583976634'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: document-extractor
        targetType: list-operator
      id: 1778583976634-source-1778591993979-target
      selected: false
      source: '1778583976634'
      sourceHandle: source
      target: '1778591993979'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: list-operator
        targetType: assigner
      id: 1778591993979-source-1778591966105-target
      selected: false
      source: '1778591993979'
      sourceHandle: source
      target: '1778591966105'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1778591900673-false-17785920051910-target
      selected: false
      source: '1778591900673'
      sourceHandle: 'false'
      target: '17785920051910'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: llm
      id: 17785920051910-source-1778586663990-target
      selected: false
      source: '17785920051910'
      sourceHandle: source
      target: '1778586663990'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: llm
      id: 1778591966105-source-1778586663990-target
      selected: false
      source: '1778591966105'
      sourceHandle: source
      target: '1778586663990'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1778584361283'
        sourceType: code
        targetType: if-else
      id: 1778584973949-source-1778592184471-target
      selected: false
      source: '1778584973949'
      sourceHandle: source
      target: '1778592184471'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1778584361283'
        sourceType: if-else
        targetType: code
      id: 1778592184471-false-1778586349438-target
      selected: false
      source: '1778592184471'
      sourceHandle: 'false'
      target: '1778586349438'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: iteration
        targetType: code
      id: 1778584361283-source-1778592457901-target
      selected: false
      source: '1778584361283'
      sourceHandle: source
      target: '1778592457901'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1778584361283'
        sourceType: llm
        targetType: code
      id: 1778584462246-source-1778593673073-target
      selected: false
      source: '1778584462246'
      sourceHandle: source
      target: '1778593673073'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1778584361283'
        sourceType: llm
        targetType: code
      id: 1778592257047-source-1778593673073-target
      selected: false
      source: '1778592257047'
      sourceHandle: source
      target: '1778593673073'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: document-extractor
      id: 1778592796503-source-1778599305125-target
      selected: false
      source: '1778592796503'
      sourceHandle: source
      target: '1778599305125'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: document-extractor
        targetType: list-operator
      id: 1778599305125-source-1778599316989-target
      selected: false
      source: '1778599305125'
      sourceHandle: source
      target: '1778599316989'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1778584361283'
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1778592184471-true-1778599442937-target
      selected: false
      source: '1778592184471'
      sourceHandle: 'true'
      target: '1778599442937'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1778584361283'
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1778599442937-source-1778592257047-target
      selected: false
      source: '1778599442937'
      sourceHandle: source
      target: '1778592257047'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1778584361283'
        sourceType: knowledge-retrieval
        targetType: knowledge-retrieval
      id: 1778584397578-source-1778599480615-target
      selected: false
      source: '1778584397578'
      sourceHandle: source
      target: '1778599480615'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1778584361283'
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1778599480615-source-1778584462246-target
      selected: false
      source: '1778599480615'
      sourceHandle: source
      target: '1778584462246'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: false
        sourceType: list-operator
        targetType: http-request
      id: 1778599316989-source-1779284960550-target
      selected: false
      source: '1778599316989'
      sourceHandle: source
      target: '1779284960550'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1779284960550-source-1778585171176-target
      selected: false
      source: '1779284960550'
      sourceHandle: source
      target: '1778585171176'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1778592457901-source-17793536995280-target
      selected: false
      source: '1778592457901'
      sourceHandle: source
      target: '17793536995280'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: tool
      id: 17793536995280-source-1778592796503-target
      selected: false
      source: '17793536995280'
      sourceHandle: source
      target: '1778592796503'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: question-classifier
      id: 1711528914102-source-1779353750807-target
      selected: false
      source: '1711528914102'
      sourceHandle: source
      target: '1779353750807'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: if-else
      id: 1779353750807-1-1778591900673-target
      selected: false
      source: '1779353750807'
      sourceHandle: '1'
      target: '1778591900673'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: code
      id: 1779353750807-1779353779769-1779356514153-target
      selected: false
      source: '1779353750807'
      sourceHandle: '1779353779769'
      target: '1779356514153'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1779355896825-source-1779356679033-target
      selected: false
      source: '1779355896825'
      sourceHandle: source
      target: '1779356679033'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: tool
      id: 1779356679033-source-1779356800078-target
      selected: false
      source: '1779356679033'
      sourceHandle: source
      target: '1779356800078'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: answer
      id: 1779356800078-source-1779357281242-target
      selected: false
      source: '1779356800078'
      sourceHandle: source
      target: '1779357281242'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1779353750807-2-1779358043963-target
      source: '1779353750807'
      sourceHandle: '2'
      target: '1779358043963'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1779358043963-source-1779358177667-target
      source: '1779358043963'
      sourceHandle: source
      target: '1779358177667'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1779356514153-source-1779355896825-target
      source: '1779356514153'
      sourceHandle: source
      target: '1779355896825'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1778585171176-source-1779372204994-target
      source: '1778585171176'
      sourceHandle: source
      target: '1779372204994'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: if-else
      id: 1779372204994-source-1778585263221-target
      source: '1779372204994'
      sourceHandle: source
      target: '1778585263221'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - image
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: ''
          hint: ''
          label: Шаблон
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: file
          variable: template
        - allowed_file_extensions: []
          allowed_file_types:
          - image
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: ''
          hint: ''
          label: Шаблон записки
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: file
          variable: template_z
      height: 135
      id: '1711528914102'
      position:
        x: -863.9127503271616
        y: 2588.7473932914545
      positionAbsolute:
        x: -863.9127503271616
        y: 2588.7473932914545
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_array_file: true
        selected: false
        title: Экстрактор документов
        type: document-extractor
        variable_selector:
        - sys
        - files
      height: 104
      id: '1778583976634'
      position:
        x: 662.346222779073
        y: 2538.847939887274
      positionAbsolute:
        x: 662.346222779073
        y: 2538.847939887274
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import re\nimport json\nimport uuid\nfrom datetime import datetime\n\
          \ndef to_dict(value):\n    if isinstance(value, dict):\n        return value\n\
          \n    if isinstance(value, str):\n        text = value.strip()\n       \
          \ text = text.replace(\"```json\", \"\").replace(\"```\", \"\").strip()\n\
          \        try:\n            parsed = json.loads(text)\n            if isinstance(parsed,\
          \ dict):\n                return parsed\n        except Exception:\n   \
          \         pass\n\n    return {}\n\ndef norm_date(value):\n    if not value:\n\
          \        return \"\"\n\n    text = str(value).strip()\n\n    patterns =\
          \ [\n        (\"%Y-%m-%d\", r\"\\d{4}-\\d{2}-\\d{2}\"),\n        (\"%d.%m.%Y\"\
          , r\"\\d{2}\\.\\d{2}\\.\\d{4}\")\n    ]\n\n    for fmt, pattern in patterns:\n\
          \        m = re.search(pattern, text)\n        if m:\n            try:\n\
          \                return datetime.strptime(m.group(0), fmt).strftime(\"%Y-%m-%d\"\
          )\n            except Exception:\n                pass\n\n    return text\n\
          \ndef main(protocol_data):\n    data = to_dict(protocol_data)\n\n    protocol_date\
          \ = norm_date(data.get(\"protocol_date\", \"\"))\n    meeting_title = str(data.get(\"\
          meeting_title\", \"\")).strip()\n\n    raw_tasks = data.get(\"tasks\", [])\n\
          \    if not isinstance(raw_tasks, list):\n        raw_tasks = []\n\n   \
          \ normalized = []\n\n    for item in raw_tasks:\n        if not isinstance(item,\
          \ dict):\n            continue\n\n        task_text = str(item.get(\"task\"\
          , \"\")).strip()\n        if not task_text:\n            continue\n\n  \
          \      normalized.append({\n            \"id\": str(uuid.uuid4()),\n   \
          \         \"protocol_date\": protocol_date,\n            \"protocol_number\"\
          : str(data.get(\"protocol_number\", \"\")).strip(),\n            \"meeting_title\"\
          : meeting_title,\n            \"task\": task_text,\n            \"responsible\"\
          : str(item.get(\"raw_responsible\", \"\")).strip(),\n            \"due_date\"\
          : str(item.get(\"raw_due_date\", \"\")).strip(),\n            \"department_hint\"\
          : str(item.get(\"department_hint\", \"\")).strip(),\n            \"source_fragment\"\
          : str(item.get(\"source_fragment\", \"\")).strip()\n        })\n\n    data[\"\
          protocol_date\"] = protocol_date\n    data[\"tasks\"] = normalized\n\n \
          \   return {\n        \"tasks\": normalized,\n        \"protocol_data\"\
          : data,\n        \"count\": len(normalized)\n    }"
        code_language: python3
        outputs:
          count:
            children: null
            type: number
          protocol_data:
            children: null
            type: object
          tasks:
            children: null
            type: array[object]
        selected: false
        title: NormalizeRawTasks
        type: code
        variables:
        - value_selector:
          - '1778586663990'
          - structured_output
          value_type: object
          variable: protocol_data
      height: 52
      id: '1778584214091'
      position:
        x: 2258.701547584698
        y: 2617.912133059289
      positionAbsolute:
        x: 2258.701547584698
        y: 2617.912133059289
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 583994c3-cbd4-4d35-b331-8b18c07c9472
            value: ''
            varType: array
            variable_selector:
            - '1778586663990'
            - structured_output
            - tasks
          id: 'true'
          logical_operator: and
        selected: false
        title: ЕСЛИ/ИНАЧЕ
        type: if-else
      height: 124
      id: '1778584314768'
      position:
        x: 1988.453966850254
        y: 2626.9139182320864
      positionAbsolute:
        x: 1988.453966850254
        y: 2626.9139182320864
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: В тексте не найдено поручений. Проверьте, что вставлен именно текст
          протокола или расшифровка с решениями.
        selected: false
        title: Ответ
        type: answer
        variables: []
      height: 148
      id: '1778584348594'
      position:
        x: 2282.7439544243
        y: 2749.2826717830303
      positionAbsolute:
        x: 2282.7439544243
        y: 2749.2826717830303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        error_handle_mode: terminated
        flatten_output: true
        height: 363.26215425419196
        is_parallel: false
        iterator_input_type: array[object]
        iterator_selector:
        - '1778584214091'
        - tasks
        output_selector:
        - '1778593673073'
        - task_result_json
        output_type: array[string]
        parallel_nums: 10
        selected: false
        start_node_id: 1778584361283start
        title: Итерация
        type: iteration
        width: 2336.230734372455
      height: 363
      id: '1778584361283'
      position:
        x: 2553.219734844681
        y: 2515.4120297846794
      positionAbsolute:
        x: 2553.219734844681
        y: 2515.4120297846794
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 2336
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1778584361283start
      parentId: '1778584361283'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 2577.219734844681
        y: 2583.4120297846794
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        dataset_ids:
        - akQ3ZWeGXn1iZgmfZXJhhuHwJvPTL1EA+KsMTx57k1mzAOoOtsP0zw/Jn6i1KGUr
        isInIteration: true
        isInLoop: false
        iteration_id: '1778584361283'
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          score_threshold: 0.35
          top_k: 5
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: bge-m3-v2
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
            weight_type: customized
        query_variable_selector:
        - '1778586349438'
        - kb_query
        retrieval_mode: multiple
        selected: false
        title: Поиск знаний
        type: knowledge-retrieval
      height: 90
      id: '1778584397578'
      parentId: '1778584361283'
      position:
        x: 888.7053522528413
        y: 217.85375922881303
      positionAbsolute:
        x: 3441.9250870975225
        y: 2733.2657890134924
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        context:
          enabled: true
          variable_selector:
          - '1778584397578'
          - result
        isInIteration: true
        isInLoop: false
        iteration_id: '1778584361283'
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: qwen3-32b-fp8-v2
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: dc92f26e-11c2-4652-b123-ad88c43a18dc
          role: system
          text: "Ты формируешь одну задачу для микросервиса execution-control-service.\n\
            \nВерни только JSON по JSON Schema. Никакого markdown.\n\nКритически важные\
            \ правила:\n- Используй только поля из JSON Schema.\n- Не используй поля\
            \ task, due_date, due_source, zga, zga_sheet, reason.\n- Текст поручения\
            \ записывай в assignment.\n- Срок исполнения записывай в deadline.\n-\
            \ deadline всегда должен быть в формате YYYY-MM-DDTHH:mm:ss.\n- deadline\
            \ никогда не должен быть пустым.\n- Если срок указан явно, deadline_source\
            \ = \"explicit\".\n- Если срок рассчитан по правилам, deadline_source\
            \ = \"inferred_by_rules\".\n- Если срок или ответственный определены неуверенно,\
            \ status = \"Требует проверки\".\n- Если ответственный не найден, responsible\
            \ = \"Не определён\", status = \"Требует проверки\", confidence <= 0.4.\n\
            - zta_sheet должен быть строго одним из:\n  - \"ЗГА_Иванова Л.С.\"\n \
            \ - \"ЗГА_Петров П.П.\"\n- zta должен быть таким же значением, как zta_sheet.\n\
            - max_username не придумывай. Если в базе знаний нет точного ника MAX,\
            \ верни пустую строку.\n- id всегда копируй из входа без изменений."
        - id: b98f0b9a-a091-4042-a5fc-ff01cf29d15d
          role: user
          text: 'ID:

            {{#1778584973949.id#}}


            Дата протокола:

            {{#1778584973949.protocol_date#}}


            Название:

            {{#1778584973949.meeting_title#}}


            Поручение:

            {{#1778584973949.task#}}


            Явно указанный срок:

            {{#1778584973949.raw_due_date#}}


            Направление:

            {{#1778584973949.department_hint#}}


            Фрагмент источника:

            {{#1778584973949.source_fragment#}}


            Ответственный:

            {{#1778584973949.responsible#}}


            Контекст базы знаний:

            {{#context#}}


            Верни результат по JSON Schema.'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              assignment:
                type: string
              confidence:
                maximum: 1
                minimum: 0
                type: number
              deadline:
                type: string
              deadline_source:
                enum:
                - explicit
                - inferred_by_rules
                - needs_review
                type: string
              department:
                type: string
              id:
                type: string
              max_username:
                type: string
              meeting_title:
                type: string
              protocol_date:
                type: string
              reason_comment:
                type: string
              responsible:
                type: string
              source_fragment:
                type: string
              status:
                enum:
                - Новое
                - Требует проверки
                type: string
              zta:
                type: string
              zta_sheet:
                enum:
                - ЗГА_Иванова Л.С.
                - ЗГА_Петров П.П.
                type: string
            required:
            - id
            - protocol_date
            - meeting_title
            - assignment
            - responsible
            - max_username
            - department
            - zta
            - zta_sheet
            - deadline
            - status
            - deadline_source
            - confidence
            - reason_comment
            - source_fragment
            type: object
        structured_output_enabled: true
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1778584462246'
      parentId: '1778584361283'
      position:
        x: 1550.7097413906272
        y: 223.42606803100307
      positionAbsolute:
        x: 4103.929476235308
        y: 2738.8380978156824
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "import json\nimport re\nfrom datetime import datetime\n\n\ndef to_dict(value):\n\
          \    if isinstance(value, dict):\n        return value\n\n    if isinstance(value,\
          \ str):\n        text = value.strip()\n        text = text.replace(\"```json\"\
          , \"\").replace(\"```\", \"\").strip()\n\n        try:\n            parsed\
          \ = json.loads(text)\n            if isinstance(parsed, dict):\n       \
          \         return parsed\n        except Exception:\n            pass\n\n\
          \    return {}\n\n\ndef unwrap_item(value):\n    data = to_dict(value)\n\
          \n    if \"current_item\" in data and isinstance(data[\"current_item\"],\
          \ dict):\n        return data[\"current_item\"]\n\n    return data\n\n\n\
          def pick(item, *keys, default=\"\"):\n    for key in keys:\n        value\
          \ = item.get(key)\n        if value is not None and str(value).strip() !=\
          \ \"\":\n            return str(value).strip()\n    return default\n\n\n\
          def normalize_deadline(raw_due_date):\n    text = str(raw_due_date or \"\
          \").strip()\n\n    m = re.search(r\"(\\d{1,2})\\.(\\d{1,2})\\.(\\d{2,4}).*?(\\\
          d{1,2}):(\\d{2})\", text)\n    if m:\n        day = int(m.group(1))\n  \
          \      month = int(m.group(2))\n        year = int(m.group(3))\n       \
          \ hour = int(m.group(4))\n        minute = int(m.group(5))\n\n        if\
          \ year < 100:\n            year += 2000\n\n        return datetime(year,\
          \ month, day, hour, minute).strftime(\"%Y-%m-%dT%H:%M:%S\")\n\n    m = re.search(r\"\
          (\\d{1,2})\\.(\\d{1,2})\\.(\\d{2,4})\", text)\n    if m:\n        day =\
          \ int(m.group(1))\n        month = int(m.group(2))\n        year = int(m.group(3))\n\
          \n        if year < 100:\n            year += 2000\n\n        return datetime(year,\
          \ month, day, 18, 0).strftime(\"%Y-%m-%dT%H:%M:%S\")\n\n    return \"\"\n\
          \n\ndef main(current_item):\n    item = unwrap_item(current_item)\n\n  \
          \  responsible = pick(item, \"responsible\", \"raw_responsible\")\n    raw_due_date\
          \ = pick(item, \"due_date\", \"raw_due_date\")\n\n    return {\n       \
          \ \"id\": pick(item, \"id\"),\n        \"protocol_date\": pick(item, \"\
          protocol_date\"),\n        \"protocol_number\": pick(item, \"protocol_number\"\
          ),\n        \"meeting_title\": pick(item, \"meeting_title\"),\n        \"\
          task\": pick(item, \"task\", \"assignment\"),\n        \"raw_responsible\"\
          : responsible,\n        \"responsible\": responsible,\n        \"raw_due_date\"\
          : raw_due_date,\n        \"deadline\": normalize_deadline(raw_due_date),\n\
          \        \"department_hint\": pick(item, \"department_hint\", \"department\"\
          ),\n        \"source_fragment\": pick(item, \"source_fragment\"),\n    \
          \    \"has_explicit_responsible\": bool(responsible)\n    }"
        code_language: python3
        isInIteration: true
        isInLoop: false
        iteration_id: '1778584361283'
        outputs:
          deadline:
            children: null
            type: string
          department_hint:
            children: null
            type: string
          has_explicit_responsible:
            children: null
            type: boolean
          id:
            children: null
            type: string
          meeting_title:
            children: null
            type: string
          protocol_date:
            children: null
            type: string
          protocol_number:
            children: null
            type: string
          raw_due_date:
            children: null
            type: string
          raw_responsible:
            children: null
            type: string
          responsible:
            children: null
            type: string
          source_fragment:
            children: null
            type: string
          task:
            children: null
            type: string
        selected: false
        title: UnpackCurrentTask
        type: code
        variables:
        - value_selector:
          - '1778584361283'
          - item
          value_type: object
          variable: current_item
      height: 52
      id: '1778584973949'
      parentId: '1778584361283'
      position:
        x: 73.56840154777183
        y: 66.7630561902929
      positionAbsolute:
        x: 2626.788136392453
        y: 2582.1750859749723
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "import json\n\n\ndef parse_item(item):\n    if not item:\n        return\
          \ None\n\n    if isinstance(item, dict):\n        return item\n\n    if\
          \ isinstance(item, str):\n        text = item.strip()\n        text = text.replace(\"\
          ```json\", \"\").replace(\"```\", \"\").strip()\n\n        try:\n      \
          \      parsed = json.loads(text)\n            if isinstance(parsed, dict):\n\
          \                return parsed\n        except Exception:\n            pass\n\
          \n        start = text.find(\"{\")\n        end = text.rfind(\"}\")\n\n\
          \        if start >= 0 and end > start:\n            try:\n            \
          \    parsed = json.loads(text[start:end + 1])\n                if isinstance(parsed,\
          \ dict):\n                    return parsed\n            except Exception:\n\
          \                pass\n\n    return None\n\n\ndef value(item, *keys, default=\"\
          \"):\n    for key in keys:\n        if key in item and item.get(key) is\
          \ not None:\n            return item.get(key)\n    return default\n\n\n\
          def normalize_task(t):\n    confidence = value(t, \"confidence\", default=0)\n\
          \n    try:\n        confidence = float(confidence)\n    except Exception:\n\
          \        confidence = 0\n\n    return {\n        \"id\": str(value(t, \"\
          id\")),\n        \"protocol_date\": str(value(t, \"protocol_date\")),\n\
          \        \"meeting_title\": str(value(t, \"meeting_title\")),\n        \"\
          assignment\": str(value(t, \"assignment\", \"task\")),\n        \"responsible\"\
          : str(value(t, \"responsible\")),\n        \"department\": str(value(t,\
          \ \"department\")),\n        \"zta\": str(value(t, \"zta\", \"zga\")),\n\
          \        \"zta_sheet\": str(value(t, \"zta_sheet\", \"zga_sheet\")),\n \
          \       \"deadline\": str(value(t, \"deadline\", \"due_date\")),\n     \
          \   \"status\": str(value(t, \"status\", default=\"Новое\")),\n        \"\
          deadline_source\": str(value(t, \"deadline_source\", \"due_source\")),\n\
          \        \"confidence\": confidence,\n        \"reason_comment\": str(value(t,\
          \ \"reason_comment\", \"reason\")),\n        \"source_fragment\": str(value(t,\
          \ \"source_fragment\")),\n        \"max_username\": str(value(t, \"max_username\"\
          ))\n    }\n\n\ndef main(iteration_results):\n    raw_tasks = []\n\n    if\
          \ isinstance(iteration_results, str):\n        try:\n            parsed\
          \ = json.loads(iteration_results)\n            if isinstance(parsed, list):\n\
          \                iteration_results = parsed\n            else:\n       \
          \         iteration_results = []\n        except Exception:\n          \
          \  iteration_results = []\n\n    for item in iteration_results or []:\n\
          \        parsed = parse_item(item)\n        if parsed:\n            raw_tasks.append(parsed)\n\
          \n    tasks = [normalize_task(t) for t in raw_tasks]\n\n    preview_lines\
          \ = []\n\n    for t in tasks[:10]:\n        preview_lines.append(\n    \
          \        f\"- {t.get('assignment', '')} — {t.get('responsible', '')}, срок:\
          \ {t.get('deadline', '')}, лист: {t.get('zta_sheet', '')}\"\n        )\n\
          \n    payload_json = json.dumps({\n        \"tasks\": tasks\n    }, ensure_ascii=False)\n\
          \n    return {\n        \"tasks_json\": json.dumps(tasks, ensure_ascii=False),\n\
          \        \"payload_json\": payload_json,\n        \"count\": len(tasks),\n\
          \        \"preview\": \"\\n\".join(preview_lines)\n    }"
        code_language: python3
        outputs:
          count:
            children: null
            type: number
          payload_json:
            children: null
            type: string
          preview:
            children: null
            type: string
          tasks_json:
            children: null
            type: string
        selected: false
        title: BuildSheetsPayload
        type: code
        variables:
        - value_selector:
          - '1778584361283'
          - output
          value_type: array[string]
          variable: iteration_results
      height: 52
      id: '1778585171176'
      position:
        x: 6825.059288653221
        y: 2602.754967394185
      positionAbsolute:
        x: 6825.059288653221
        y: 2602.754967394185
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: b92810d9-3fb6-4673-ba3e-b0e4aa56443d
            value: '200'
            varType: number
            variable_selector:
            - '1779372204994'
            - status_code
          id: 'true'
          logical_operator: and
        selected: false
        title: ЕСЛИ/ИНАЧЕ 2
        type: if-else
      height: 124
      id: '1778585263221'
      position:
        x: 7630.862699843249
        y: 2564.2758962961425
      positionAbsolute:
        x: 7630.862699843249
        y: 2564.2758962961425
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 'Не удалось записать поручения в Google Sheets.


          Код ответа:

          {{#1779372204994.status_code#}}


          Ответ сервера:

          {{#1779372204994.body#}}


          {{#1778592796503.files#}}'
        selected: false
        title: Ответ 2
        type: answer
        variables: []
      height: 170
      id: '1778585283720'
      position:
        x: 8215.87274929561
        y: 2684.1528240821353
      positionAbsolute:
        x: 8215.87274929561
        y: 2684.1528240821353
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 'Готово. Файл протокола обработан.


          Найдено и записано поручений:{{#1778585171176.count#}}


          Поручения:

          {{#1778585171176.preview#}}


          Данные записаны:

          - на общий лист "Все поручения";

          - на лист соответствующего ЗГА.


          В Google Sheets подсветка работает так:

          - красный фон — срок просрочен;

          - оранжевый фон — срок наступает в ближайшие 3 дня;

          - желтый фон — поручение требует проверки.


          {{#1778592796503.files#}}'
        selected: false
        title: Ответ 3
        type: answer
        variables: []
      height: 282
      id: '1778585306792'
      position:
        x: 8521.700311228211
        y: 2386.0770975919067
      positionAbsolute:
        x: 8521.700311228211
        y: 2386.0770975919067
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(task=\"\", department_hint=\"\", source_fragment=\"\"):\n\
          \    parts = []\n\n    if task:\n        parts.append(f\"Поручение: {task}\"\
          )\n\n    if department_hint:\n        parts.append(f\"Направление: {department_hint}\"\
          )\n\n    if source_fragment:\n        parts.append(f\"Фрагмент встречи:\
          \ {source_fragment}\")\n\n    return {\n        \"kb_query\": \"\\n\".join(parts)\n\
          \    }"
        code_language: python3
        isInIteration: true
        isInLoop: false
        iteration_id: '1778584361283'
        outputs:
          kb_query:
            children: null
            type: string
        selected: false
        title: BuildKnowledgeQuery
        type: code
        variables:
        - value_selector:
          - '1778584973949'
          - meeting_title
          value_type: string
          variable: task
        - value_selector:
          - '1778584973949'
          - raw_due_date
          value_type: string
          variable: department_hint
        - value_selector:
          - '1778584973949'
          - source_fragment
          value_type: string
          variable: source_fragment
      height: 52
      id: '1778586349438'
      parentId: '1778584361283'
      position:
        x: 617.5809489918506
        y: 218.70975163107732
      positionAbsolute:
        x: 3170.800683836532
        y: 2734.1217814157567
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3-32b-fp8-v2
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: b115e559-c567-4de1-9cfe-53f7e180ada1
          role: system
          text: 'Ты модуль подготовки протокола и извлечения поручений из материалов
            встречи.


            На вход может прийти:

            1. готовый протокол;

            2. сырая транскрибация встречи;

            3. текстовая расшифровка без структуры.


            Твоя задача:

            1. Определить тип входа: protocol или transcript.

            2. Сформировать данные для итогового протокола.

            3. Найти все реальные поручения, решения и действия.

            4. Для каждого поручения извлечь явно указанного ответственного, если
            он есть.

            5. Для каждого поручения извлечь явно указанный срок, если он есть.

            6. Если ответственного нет, оставить raw_responsible пустым.

            7. Если срока нет, оставить raw_due_date пустым.

            8. Вернуть результат строго по JSON Schema.


            Не включай в поручения:

            - список присутствующих без действий;

            - шапку документа;

            - подписи;

            - справочную информацию;

            - обсуждения без конкретного действия.


            Если вход — готовый протокол:

            - сохрани смысл поручений как в документе;

            - не переписывай явно указанных ответственных;

            - не меняй явно указанные сроки.


            Если вход — транскрибация:

            - выдели из обсуждения принятые решения;

            - сформулируй поручения в официальном стиле;

            - участников извлеки из говорящих, если они явно указаны;

            - если участников определить невозможно, верни пустой массив attendees.


            Дату протокола:

            - если дата есть во входе, верни ее в формате YYYY-MM-DDTHH:mm:ss;


            protocol_date всегда YYYY-MM-DD. Если дата протокола неизвестна, ставь
            текущую дату в формате YYYY-MM-DD, не оставляй пустую строку.


            Не используй markdown.

            Не добавляй пояснений вне JSON.'
        - id: 7c282599-f225-4bb0-88ad-6ab32d9379e3
          role: user
          text: 'Материал встречи:


            {{#conversation.text#}}


            Извлеки поручения и верни структурированный результат по JSON Schema.'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              approver_name:
                description: ФИО или инициалы утверждающего, если указаны
                type: string
              approver_position:
                description: Должность утверждающего, если указана
                type: string
              attendees:
                description: Список присутствующих
                items:
                  type: string
                type: array
              input_type:
                description: Тип входного материала
                enum:
                - protocol
                - transcript
                type: string
              meeting_title:
                description: Название совещания или протокола
                type: string
              protocol_date:
                description: Дата протокола в формате YYYY-MM-DDTHH:mm:ss или пустая
                  строка
                type: string
              protocol_number:
                description: Номер протокола, если указан
                type: string
              secretary:
                description: Кто вел протокол, если указано
                type: string
              tasks:
                items:
                  additionalProperties: false
                  properties:
                    department_hint:
                      type: string
                    raw_due_date:
                      type: string
                    raw_responsible:
                      type: string
                    source_fragment:
                      type: string
                    task:
                      type: string
                  required:
                  - task
                  - raw_responsible
                  - raw_due_date
                  - department_hint
                  - source_fragment
                  type: object
                type: array
            required:
            - input_type
            - protocol_date
            - protocol_number
            - meeting_title
            - approver_position
            - approver_name
            - attendees
            - secretary
            - tasks
            type: object
        structured_output_enabled: true
        title: ExtractTasksFromProtocol
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1778586663990'
      position:
        x: 1715.7368650474411
        y: 2640.55536733068
      positionAbsolute:
        x: 1715.7368650474411
        y: 2640.55536733068
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: c636bf19-d65c-46bd-bf7f-f0ffc04d28ec
            value: ''
            varType: array[file]
            variable_selector:
            - sys
            - files
          id: 'true'
          logical_operator: and
        selected: false
        title: ЕСЛИ/ИНАЧЕ 3
        type: if-else
      height: 124
      id: '1778591900673'
      position:
        x: 290.62045218462225
        y: 2617.912133059289
      positionAbsolute:
        x: 290.62045218462225
        y: 2617.912133059289
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1778591993979'
          - first_record
          variable_selector:
          - conversation
          - text
          write_mode: over-write
        selected: false
        title: Назначение переменной
        type: assigner
        version: '2'
      height: 84
      id: '1778591966105'
      position:
        x: 1264.2933902510572
        y: 2538.847939887274
      positionAbsolute:
        x: 1264.2933902510572
        y: 2538.847939887274
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        extract_by:
          enabled: false
          serial: '1'
        filter_by:
          conditions:
          - comparison_operator: contains
            key: ''
            value: ''
          enabled: false
        item_var_type: string
        limit:
          enabled: false
          size: 10
        order_by:
          enabled: false
          key: ''
          value: asc
        selected: false
        title: Оператор списка
        type: list-operator
        var_type: array[string]
        variable:
        - '1778583976634'
        - text
      height: 92
      id: '1778591993979'
      position:
        x: 985.0434050120431
        y: 2526.7222073551916
      positionAbsolute:
        x: 985.0434050120431
        y: 2526.7222073551916
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - sys
          - query
          variable_selector:
          - conversation
          - text
          write_mode: over-write
        selected: false
        title: Назначение переменной (1)
        type: assigner
        version: '2'
      height: 84
      id: '17785920051910'
      position:
        x: 946.0878333576368
        y: 2714.5982127888265
      positionAbsolute:
        x: 946.0878333576368
        y: 2714.5982127888265
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 3fc995bc-d9ef-4e18-8d97-dc273f3a53e1
            value: true
            varType: boolean
            variable_selector:
            - '1778584973949'
            - has_explicit_responsible
          id: 'true'
          logical_operator: and
        isInIteration: true
        isInLoop: false
        iteration_id: '1778584361283'
        selected: false
        title: ЕСЛИ/ИНАЧЕ 4
        type: if-else
      height: 124
      id: '1778592184471'
      parentId: '1778584361283'
      position:
        x: 358.8013961961542
        y: 69.26419781642562
      positionAbsolute:
        x: 2912.0211310408354
        y: 2584.676227601105
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        context:
          enabled: true
          variable_selector:
          - '1778599442937'
          - result
        isInIteration: true
        isInLoop: false
        iteration_id: '1778584361283'
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3-32b-fp8-v2
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 6cc79ff7-443f-48cf-b5b1-0e8133500bd1
          role: system
          text: "Ты формируешь одну задачу для микросервиса execution-control-service.\n\
            \nВерни только JSON по JSON Schema. Никакого markdown.\n\nКритически важные\
            \ правила:\n- Используй только поля из JSON Schema.\n- Не используй поля\
            \ task, due_date, due_source, zga, zga_sheet, reason.\n- Текст поручения\
            \ записывай в assignment.\n- Срок исполнения записывай в deadline.\n-\
            \ deadline всегда должен быть в формате YYYY-MM-DDTHH:mm:ss.\n- deadline\
            \ никогда не должен быть пустым.\n- Если срок указан явно, deadline_source\
            \ = \"explicit\".\n- Если срок рассчитан по правилам, deadline_source\
            \ = \"inferred_by_rules\".\n- Если срок или ответственный определены неуверенно,\
            \ status = \"Требует проверки\".\n- Если ответственный не найден, responsible\
            \ = \"Не определён\", status = \"Требует проверки\", confidence <= 0.4.\n\
            - zta_sheet должен быть строго одним из:\n  - \"ЗГА_Иванова Л.С.\"\n \
            \ - \"ЗГА_Петров П.П.\"\n- zta должен быть таким же значением, как zta_sheet.\n\
            - max_username не придумывай. Если в базе знаний нет точного ника MAX,\
            \ верни пустую строку.\n- id всегда копируй из входа без изменений.\n\n\
            {{#context#}}"
        - id: 22e5b09c-9a14-434d-8dc9-71393203ca4d
          role: user
          text: 'ID:

            {{#1778584973949.id#}}


            Дата протокола:

            {{#1778584973949.protocol_date#}}


            Название:

            {{#1778584973949.meeting_title#}}


            Поручение:

            {{#1778584973949.task#}}


            Явно указанный ответственный:

            {{#1778584973949.raw_responsible#}}


            Явно указанный срок:

            {{#1778584973949.raw_due_date#}}


            Направление:

            {{#1778584973949.department_hint#}}

            Фрагмент источника:

            {{#1778584973949.source_fragment#}}


            Верни результат по JSON Schema.'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              assignment:
                type: string
              confidence:
                maximum: 1
                minimum: 0
                type: number
              deadline:
                type: string
              deadline_source:
                enum:
                - explicit
                - inferred_by_rules
                - needs_review
                type: string
              department:
                type: string
              id:
                type: string
              max_username:
                type: string
              meeting_title:
                type: string
              protocol_date:
                type: string
              reason_comment:
                type: string
              responsible:
                type: string
              source_fragment:
                type: string
              status:
                enum:
                - Новое
                - Требует проверки
                type: string
              zta:
                type: string
              zta_sheet:
                enum:
                - ЗГА_Иванова Л.С.
                - ЗГА_Петров П.П.
                type: string
            required:
            - id
            - protocol_date
            - meeting_title
            - assignment
            - responsible
            - max_username
            - department
            - zta
            - zta_sheet
            - deadline
            - status
            - deadline_source
            - confidence
            - reason_comment
            - source_fragment
            type: object
        structured_output_enabled: true
        title: FinalizeTaskWithoutKB
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1778592257047'
      parentId: '1778584361283'
      position:
        x: 1014.6847296992541
        y: 67.52731896280193
      positionAbsolute:
        x: 3567.9044645439353
        y: 2582.9393487474813
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "import json\nfrom datetime import datetime\n\ndef to_dict(value):\n\
          \    if isinstance(value, dict):\n        return value\n    if isinstance(value,\
          \ str):\n        try:\n            return json.loads(value)\n        except\
          \ Exception:\n            return {}\n    return {}\n\ndef to_list(value):\n\
          \    if isinstance(value, list):\n        return value\n    if isinstance(value,\
          \ str):\n        try:\n            parsed = json.loads(value)\n        \
          \    if isinstance(parsed, list):\n                return parsed\n     \
          \   except Exception:\n            return []\n    return []\n\ndef format_date_ru(value):\n\
          \    if not value:\n        return \"\"\n    text = str(value).strip()\n\
          \    try:\n        return datetime.strptime(text, \"%Y-%m-%d\").strftime(\"\
          %d.%m.%Y\")\n    except Exception:\n        return text\n\ndef main(protocol_data,\
          \ tasks):\n    data = to_dict(protocol_data)\n    final_tasks = to_list(tasks)\n\
          \n    attendees = data.get(\"attendees\", [])\n    if not isinstance(attendees,\
          \ list):\n        attendees = []\n\n    attendees_block = \"\\n\".join(\n\
          \        [f\"{i + 1}. {name}\" for i, name in enumerate(attendees)]\n  \
          \  )\n\n    decisions_lines = []\n    for i, t in enumerate(final_tasks,\
          \ start=1):\n        if not isinstance(t, dict):\n            continue\n\
          \n        decisions_lines.append(\n            f\"{i}. {t.get('task', '')}.\\\
          n\"\n            f\"Ответственный: {t.get('responsible', '')}.\\n\"\n  \
          \          f\"Срок: {format_date_ru(t.get('due_date', ''))}.\"\n       \
          \ )\n\n    decisions_block = \"\\n\".join(decisions_lines)\n\n    variables\
          \ = {\n        \"approver_position\": data.get(\"approver_position\") or\
          \ \"Глава городского округа Долгопрудный\",\n        \"approver_name\":\
          \ data.get(\"approver_name\") or \"О.А. Сотник\",\n        \"protocol_title\"\
          : \"ПРОТОКОЛ\",\n        \"meeting_title\": data.get(\"meeting_title\")\
          \ or \"по совещанию\",\n        \"protocol_date\": format_date_ru(data.get(\"\
          protocol_date\", \"\")),\n        \"protocol_number\": data.get(\"protocol_number\"\
          ) or \"\",\n        \"attendees_block\": attendees_block,\n        \"decisions_block\"\
          : decisions_block,\n        \"secretary\": data.get(\"secretary\") or \"\
          \"\n    }\n\n    return {\n        \"docx_variables\": json.dumps(variables,\
          \ ensure_ascii=False)\n    }"
        code_language: python3
        outputs:
          docx_variables:
            children: null
            type: string
        selected: false
        title: BuildDocxVariables
        type: code
        variables:
        - value_selector:
          - '1778584214091'
          - protocol_data
          value_type: object
          variable: protocol_data
        - value_selector:
          - '1778584214091'
          - tasks
          value_type: array[object]
          variable: tasks
      height: 52
      id: '1778592457901'
      position:
        x: 4911.435849758249
        y: 2684.1528240821353
      positionAbsolute:
        x: 4911.435849758249
        y: 2684.1528240821353
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: One or more DOCX template files.
            ja_JP: One or more DOCX template files.
            pt_BR: One or more DOCX template files.
            zh_Hans: One or more DOCX template files.
          label:
            en_US: DOCX templates
            ja_JP: DOCX templates
            pt_BR: DOCX templates
            zh_Hans: DOCX templates
          llm_description: One or more DOCX template files.
          max: null
          min: null
          name: docx_temp
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: files
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Key-value object for template placeholder substitution.
            ja_JP: Key-value object for template placeholder substitution.
            pt_BR: Key-value object for template placeholder substitution.
            zh_Hans: Key-value object for template placeholder substitution.
          label:
            en_US: Variables
            ja_JP: Variables
            pt_BR: Variables
            zh_Hans: Variables
          llm_description: Key-value object for template placeholder substitution.
          max: null
          min: null
          name: variables
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Optional Python script for variable preprocessing.
            ja_JP: Optional Python script for variable preprocessing.
            pt_BR: Optional Python script for variable preprocessing.
            zh_Hans: Optional Python script for variable preprocessing.
          label:
            en_US: Preprocessing script (optional)
            ja_JP: Preprocessing script (optional)
            pt_BR: Preprocessing script (optional)
            zh_Hans: Preprocessing script (optional)
          llm_description: Optional Python script for variable preprocessing.
          max: null
          min: null
          name: script
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          docx_temp: ''
          script: ''
          variables: ''
        plugin_id: scibox/document-generator
        plugin_unique_identifier: scibox/document-generator:0.0.1@dd7c5e14746b852f9a4c319bee5bf633135d35657a69415289652216e39b7865
        provider_icon: https://dify.t1v.scibox.tech/console/api/workspaces/current/plugin/icon?tenant_id=e8b55998-3eae-4e44-ac6b-f8879eeab297&filename=afef206e894f495388b231fbf4b47ef44d19d98a3301c0658436bce67f542fc9.svg
        provider_id: scibox/document-generator/document-generator
        provider_name: scibox/document-generator/document-generator
        provider_type: builtin
        selected: false
        title: Generate DOCX
        tool_configurations:
          docx_temp:
            type: variable
            value:
            - '1711528914102'
            - template
          script:
            type: mixed
            value: ''
          variables:
            type: mixed
            value: '{{#1778592457901.docx_variables#}}'
        tool_description: Generate DOCX from template with variables and optional
          script
        tool_label: Generate DOCX
        tool_name: generate_docx
        tool_node_version: '2'
        tool_parameters: {}
        type: tool
      height: 140
      id: '1778592796503'
      position:
        x: 5498.219263124818
        y: 2515.4120297846794
      positionAbsolute:
        x: 5498.219263124818
        y: 2515.4120297846794
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef to_dict(value):\n    if not value:\n        return\
          \ {}\n\n    if isinstance(value, dict):\n        return value\n\n    if\
          \ isinstance(value, str):\n        text = value.strip()\n        text =\
          \ text.replace(\"```json\", \"\").replace(\"```\", \"\").strip()\n\n   \
          \     try:\n            parsed = json.loads(text)\n            if isinstance(parsed,\
          \ dict):\n                return parsed\n        except Exception:\n   \
          \         pass\n\n        start = text.find(\"{\")\n        end = text.rfind(\"\
          }\")\n        if start >= 0 and end > start:\n            try:\n       \
          \         parsed = json.loads(text[start:end + 1])\n                if isinstance(parsed,\
          \ dict):\n                    return parsed\n            except Exception:\n\
          \                pass\n\n    return {}\n\ndef main(without_kb_result=\"\"\
          , from_kb_result=\"\"):\n    without_kb = to_dict(without_kb_result)\n \
          \   from_kb = to_dict(from_kb_result)\n\n    # Сработала ветка с явно указанным\
          \ ответственным\n    if without_kb:\n        result = without_kb\n    #\
          \ Сработала ветка с назначением из базы знаний\n    elif from_kb:\n    \
          \    result = from_kb\n    else:\n        result = {\n            \"id\"\
          : \"\",\n            \"protocol_date\": \"\",\n            \"meeting_title\"\
          : \"\",\n            \"task\": \"\",\n            \"responsible\": \"\"\
          ,\n            \"department\": \"\",\n            \"zga\": \"\",\n     \
          \       \"zga_sheet\": \"ЗГА_Иванова Л.С.\",\n            \"due_date\":\
          \ \"\",\n            \"status\": \"Требует проверки\",\n            \"due_source\"\
          : \"needs_review\",\n            \"confidence\": 0,\n            \"reason\"\
          : \"Не удалось получить результат ни из одной ветки\",\n            \"source_fragment\"\
          : \"\"\n        }\n\n    return {\n        \"task_result_json\": json.dumps(result,\
          \ ensure_ascii=False)\n    }"
        code_language: python3
        isInIteration: true
        isInLoop: false
        iteration_id: '1778584361283'
        outputs:
          task_result_json:
            children: null
            type: string
        selected: false
        title: MergeTaskResult
        type: code
        variables:
        - value_selector:
          - '1778592257047'
          - structured_output
          value_type: object
          variable: without_kb_result
        - value_selector:
          - '1778584462246'
          - structured_output
          value_type: object
          variable: from_kb_result
      height: 52
      id: '1778593673073'
      parentId: '1778584361283'
      position:
        x: 2078.230734372455
        y: 208.26215425419196
      positionAbsolute:
        x: 4631.450469217136
        y: 2723.6741840388713
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        is_array_file: true
        selected: false
        title: Экстрактор документов 2
        type: document-extractor
        variable_selector:
        - '1778592796503'
        - files
      height: 104
      id: '1778599305125'
      position:
        x: 5833.517454477086
        y: 2548.1891709998104
      positionAbsolute:
        x: 5833.517454477086
        y: 2548.1891709998104
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        extract_by:
          enabled: false
          serial: '1'
        filter_by:
          conditions:
          - comparison_operator: contains
            key: ''
            value: ''
          enabled: false
        item_var_type: string
        limit:
          enabled: false
          size: 10
        order_by:
          enabled: false
          key: ''
          value: asc
        selected: false
        title: Оператор списка 2
        type: list-operator
        var_type: array[string]
        variable:
        - '1778599305125'
        - text
      height: 92
      id: '1778599316989'
      position:
        x: 6107.719243282281
        y: 2570.3387625621845
      positionAbsolute:
        x: 6107.719243282281
        y: 2570.3387625621845
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - bCDop8iBsjMPI8QwUTpCNtLb1c8Ma/aptrAvy+DNBdnjEckBCH0J6AXGlXxqB/tU
        isInIteration: true
        isInLoop: false
        iteration_id: '1778584361283'
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: bge-m3-v2
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
            weight_type: customized
        query_variable_selector:
        - '1778586663990'
        - text
        retrieval_mode: multiple
        selected: false
        title: Поиск знаний 2
        type: knowledge-retrieval
      height: 90
      id: '1778599442937'
      parentId: '1778584361283'
      position:
        x: 714.6847296992541
        y: 66.1665290014962
      positionAbsolute:
        x: 3267.9044645439353
        y: 2581.5785587861756
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        dataset_ids:
        - bCDop8iBsjMPI8QwUTpCNtLb1c8Ma/aptrAvy+DNBdnjEckBCH0J6AXGlXxqB/tU
        isInIteration: true
        isInLoop: false
        iteration_id: '1778584361283'
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: bge-m3-v2
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
            weight_type: customized
        query_variable_selector:
        - '1778586663990'
        - text
        retrieval_mode: multiple
        selected: false
        title: Поиск знаний 3
        type: knowledge-retrieval
      height: 90
      id: '1778599480615'
      parentId: '1778584361283'
      position:
        x: 1234.7649308040209
        y: 215.26036502052966
      positionAbsolute:
        x: 3787.984665648702
        y: 2730.672394805209
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-13
            key: ''
            type: text
            value: "{\n  \"inputs\": {\n    \"info\": \"{{#1778599316989.first_record#}}\"\
              ,\n    \"document\": \"8f39d4c3-6caa-4222-b380-1300996cfc9f\",\n   \
              \ \"api\": \"dataset-Zxk8V0Ki7i0he8yceghqoj5G\",\n    \"max_tokens\"\
              : 3000,\n    \"chunk_overlap\": 200\n  },\n  \"response_mode\": \"blocking\"\
              ,\n  \"user\": \"user-123\"\n}"
          type: json
        headers: 'Content-Type:application/json

          Authorization:Bearer app-aRc4fdw6Lbiwn4ghatrKAaSI'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP-запрос 2
        type: http-request
        url: https://dify.t1v.scibox.tech/v1/workflows/run
        variables: []
      height: 154
      id: '1779284960550'
      position:
        x: 6479.334353944069
        y: 2564.2758962961425
      positionAbsolute:
        x: 6479.334353944069
        y: 2564.2758962961425
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-13
            key: ''
            type: text
            value: "{\n  \"inputs\": {\n    \"info\": \"{{#conversation.text#}}\"\
              ,\n    \"document\": \"8f39d4c3-6caa-4222-b380-1300996cfc9f\",\n   \
              \ \"api\": \"dataset-Zxk8V0Ki7i0he8yceghqoj5G\",\n    \"max_tokens\"\
              : 3000,\n    \"chunk_overlap\": 200\n  },\n  \"response_mode\": \"blocking\"\
              ,\n  \"user\": \"user-123\"\n}"
          type: json
        headers: 'Content-Type:application/json

          Authorization:Bearer app-aRc4fdw6Lbiwn4ghatrKAaSI'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP-запрос 2 (1)
        type: http-request
        url: https://dify.t1v.scibox.tech/v1/workflows/run
        variables: []
      height: 154
      id: '17793536995280'
      position:
        x: 5168.337582941377
        y: 2526.7222073551916
      positionAbsolute:
        x: 5168.337582941377
        y: 2526.7222073551916
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          name: 'Извлечение протокола '
        - id: '2'
          name: Вопросы пользователя
        - id: '1779353779769'
          name: Создание справки(служебной записки)
        instruction: 'Класс "Извлечение протокола" выбирай, если пользователь просит
          обработать протокол, извлечь поручения, записать поручения, поставить задачи
          на контроль.


          Класс "Создание справки(служебной записки)" выбирай, если пользователь прямо
          просит создать справку, служебную записку, memo, документ по итогам.


          Класс "Вопросы пользователя" выбирай, если пользователь задаёт вопрос по
          содержанию встречи и не просит ничего записывать в контроль.'
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3-32b-fp8-v2
          provider: langgenius/openai_api_compatible/openai_api_compatible
        query_variable_selector:
        - '1711528914102'
        - sys.query
        selected: false
        title: Классификатор вопросов
        type: question-classifier
        vision:
          enabled: false
      height: 208
      id: '1779353750807'
      position:
        x: -89.78843266517003
        y: 2673.0496540991467
      positionAbsolute:
        x: -89.78843266517003
        y: 2673.0496540991467
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3-32b-fp8-v2
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 3795a523-0885-4039-b9bc-000b55fe255f
          role: system
          text: 'Ты извлекаешь данные о выполненной работе для DOCX-шаблона.


            Верни только валидный JSON по заданной JSON Schema.


            Правила:

            - reference_title всегда заполняй как "ОТЧЁТ О ВЫПОЛНЕННОЙ РАБОТЕ", если
            в тексте не указано другое название.

            - reference_date — дата выполнения работ или дата документа в формате
            ДД.ММ.ГГГГ, если она есть.

            - task_title — краткая тема выполненной работы.

            - protocol_number — номер документа, отчёта или задачи, если он есть в
            тексте.

            - protocol_number возвращай без символа "№", потому что в DOCX-шаблоне
            символ "№" уже есть.

            - Если номер выглядит как "Отчёт № 12/2026", верни "12/2026".

            - Если номер выглядит как "№ 5", верни "5".

            - Если номера нет, верни пустую строку.

            - tasks_completed — основной блок: опиши, что было сделано, какие работы
            выполнены, какие задачи закрыты, какие результаты получены.

            - Не пиши как протокол встречи, если в тексте не указана именно встреча.

            - Если данных нет, оставь пустую строку.

            - Не придумывай ФИО, должности, дату и номер документа.'
        - id: 08d3e909-2f37-4c2e-a827-7c85bb0ff192
          role: user
          text: 'Протокол встречи:

            {{#conversation.text#}}


            Должность утверждающего:



            ФИО утверждающего:



            Дата:

            {{#1779356514153.current_date#}}


            То что было сделанно:

            {{#sys.query#}}'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              approver_name:
                description: ФИО утверждающего. Не придумывать, если не указано.
                type: string
              approver_position:
                description: Должность утверждающего. Не придумывать, если не указано.
                type: string
              protocol_number:
                description: Номер протокола, извлечённый из текста. Возвращать без
                  символа №. Если номера нет — пустая строка.
                type: string
              reference_date:
                description: Дата встречи в формате ДД.ММ.ГГГГ. Если даты нет — пустая
                  строка.
                type: string
              reference_title:
                description: 'Название документа. Обычно: ПРОТОКОЛ ВСТРЕЧИ.'
                type: string
              task_title:
                description: Краткая тема встречи или предмет протокола.
                type: string
              tasks_completed:
                description: 'Основной блок протокола: итоги, решения, выполненные
                  задачи, поручения, ответственные и сроки.'
                type: string
            required:
            - approver_position
            - approver_name
            - reference_title
            - task_title
            - reference_date
            - protocol_number
            - tasks_completed
            type: object
        structured_output_enabled: true
        title: ExtractMeetingProtocol
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1779355896825'
      position:
        x: 1169.5023706287686
        y: 3351.249890297087
      positionAbsolute:
        x: 1169.5023706287686
        y: 3351.249890297087
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "from datetime import datetime\n\ndef main():\n    current_date = datetime.now().strftime(\"\
          %Y-%m-%d\")\n    \n    return {\n        \"current_date\": current_date\n\
          \    }"
        code_language: python3
        outputs:
          current_date:
            children: null
            type: string
        selected: false
        title: Код 7
        type: code
        variables: []
      height: 52
      id: '1779356514153'
      position:
        x: 343.99276375529917
        y: 3351.249890297087
      positionAbsolute:
        x: 343.99276375529917
        y: 3351.249890297087
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\n\ndef clean(value, default=\"\"):\n    if\
          \ value is None:\n        return default\n\n    text = str(value).strip()\n\
          \    return text if text else default\n\n\ndef normalize_protocol_number(value):\n\
          \    text = clean(value)\n\n    if not text:\n        return \"\"\n\n  \
          \  # Убираем символ №, потому что в DOCX-шаблоне он уже есть\n    text =\
          \ re.sub(r\"^\\s*№\\s*\", \"\", text)\n    text = re.sub(r\"^\\s*протокол\\\
          s*№?\\s*\", \"\", text, flags=re.IGNORECASE)\n\n    return text.strip()\n\
          \n\ndef main(\n    approver_position: str = \"\",\n    approver_name: str\
          \ = \"\",\n    reference_title: str = \"\",\n    task_title: str = \"\"\
          ,\n    reference_date: str = \"\",\n    protocol_number: str = \"\",\n \
          \   tasks_completed: str = \"\"\n) -> dict:\n\n    variables = {\n     \
          \   \"approver_position\": clean(approver_position),\n        \"approver_name\"\
          : clean(approver_name),\n        \"reference_title\": clean(reference_title,\
          \ \"ПРОТОКОЛ ВСТРЕЧИ\"),\n        \"task_title\": clean(task_title, \"По\
          \ итогам встречи\"),\n        \"reference_date\": clean(reference_date),\n\
          \        \"protocol_number\": normalize_protocol_number(protocol_number),\n\
          \        \"tasks_completed\": clean(tasks_completed)\n    }\n\n    return\
          \ {\n        \"docx_variables\": json.dumps(variables, ensure_ascii=False)\n\
          \    }"
        code_language: python3
        outputs:
          docx_variables:
            children: null
            type: string
        selected: false
        title: Код 8
        type: code
        variables:
        - value_selector:
          - '1779355896825'
          - structured_output
          - approver_position
          value_type: object
          variable: approver_position
        - value_selector:
          - '1779355896825'
          - structured_output
          - approver_name
          value_type: object
          variable: approver_name
        - value_selector:
          - '1779355896825'
          - structured_output
          - reference_title
          value_type: object
          variable: reference_title
        - value_selector:
          - '1779355896825'
          - structured_output
          - task_title
          value_type: object
          variable: task_title
        - value_selector:
          - '1779355896825'
          - structured_output
          - reference_date
          value_type: object
          variable: reference_date
        - value_selector:
          - '1779355896825'
          - structured_output
          - protocol_number
          value_type: object
          variable: protocol_number
        - value_selector:
          - '1779355896825'
          - structured_output
          - tasks_completed
          value_type: object
          variable: tasks_completed
      height: 52
      id: '1779356679033'
      position:
        x: 1662.3201403283538
        y: 3364.0603034571104
      positionAbsolute:
        x: 1662.3201403283538
        y: 3364.0603034571104
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: One or more DOCX template files.
            ja_JP: One or more DOCX template files.
            pt_BR: One or more DOCX template files.
            zh_Hans: One or more DOCX template files.
          label:
            en_US: DOCX templates
            ja_JP: DOCX templates
            pt_BR: DOCX templates
            zh_Hans: DOCX templates
          llm_description: One or more DOCX template files.
          max: null
          min: null
          name: docx_temp
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: files
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Key-value object for template placeholder substitution.
            ja_JP: Key-value object for template placeholder substitution.
            pt_BR: Key-value object for template placeholder substitution.
            zh_Hans: Key-value object for template placeholder substitution.
          label:
            en_US: Variables
            ja_JP: Variables
            pt_BR: Variables
            zh_Hans: Variables
          llm_description: Key-value object for template placeholder substitution.
          max: null
          min: null
          name: variables
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Optional Python script for variable preprocessing.
            ja_JP: Optional Python script for variable preprocessing.
            pt_BR: Optional Python script for variable preprocessing.
            zh_Hans: Optional Python script for variable preprocessing.
          label:
            en_US: Preprocessing script (optional)
            ja_JP: Preprocessing script (optional)
            pt_BR: Preprocessing script (optional)
            zh_Hans: Preprocessing script (optional)
          llm_description: Optional Python script for variable preprocessing.
          max: null
          min: null
          name: script
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          docx_temp: ''
          script: ''
          variables: ''
        plugin_id: scibox/document-generator
        plugin_unique_identifier: scibox/document-generator:0.0.1@dd7c5e14746b852f9a4c319bee5bf633135d35657a69415289652216e39b7865
        provider_icon: https://dify.t1v.scibox.tech/console/api/workspaces/current/plugin/icon?tenant_id=e8b55998-3eae-4e44-ac6b-f8879eeab297&filename=afef206e894f495388b231fbf4b47ef44d19d98a3301c0658436bce67f542fc9.svg
        provider_id: scibox/document-generator/document-generator
        provider_name: scibox/document-generator/document-generator
        provider_type: builtin
        selected: false
        title: Generate DOCX
        tool_configurations:
          docx_temp:
            type: variable
            value:
            - '1711528914102'
            - template_z
          script:
            type: mixed
            value: null
          variables:
            type: mixed
            value: '{{#1779356679033.docx_variables#}}'
        tool_description: Generate DOCX from template with variables and optional
          script
        tool_label: Generate DOCX
        tool_name: generate_docx
        tool_node_version: '2'
        tool_parameters: {}
        type: tool
      height: 140
      id: '1779356800078'
      position:
        x: 2083.4431501364934
        y: 3364.0603034571104
      positionAbsolute:
        x: 2083.4431501364934
        y: 3364.0603034571104
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1779356800078.files#}}'
        selected: false
        title: Ответ 4
        type: answer
        variables: []
      height: 102
      id: '1779357281242'
      position:
        x: 2436.3274968679143
        y: 3403.1160475270094
      positionAbsolute:
        x: 2436.3274968679143
        y: 3403.1160475270094
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3-32b-fp8-v2
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 2e259d61-8813-4dda-8063-0912db5d4d11
          role: system
          text: "Ты — ассистент, который отвечает на вопросы только на основе записи\
            \ встречи или её транскрипта.  \nОтвечай кратко, точно и без домыслов.\
            \  \nЕсли информации в записи нет — так и скажи.  \nПри необходимости\
            \ цитируй или указывай фрагменты разговора."
        - id: 2a229c35-70dd-49b6-8899-98e9cdeae145
          role: user
          text: 'Вот запись встречи / транскрипт:


            {{#conversation.text#}}


            Ответь на вопрос:

            {{#sys.query#}}'
        selected: false
        title: LLM 5
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1779358043963'
      position:
        x: 410.7679374923348
        y: 2836.4058356272294
      positionAbsolute:
        x: 410.7679374923348
        y: 2836.4058356272294
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1779358043963.text#}}'
        selected: false
        title: Ответ 5
        type: answer
        variables: []
      height: 102
      id: '1779358177667'
      position:
        x: 712.7679374923348
        y: 2836.4058356272294
      positionAbsolute:
        x: 712.7679374923348
        y: 2836.4058356272294
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-186
            key: ''
            type: text
            value: '{{#1778585171176.payload_json#}}'
          type: json
        headers: 'Content-Type:application/json

          X-Api-Key:112233'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP-запрос 4
        type: http-request
        url: https://custom-servers.t1v.scibox.tech/jnserver/1083/application/api/tasks/bulk
        variables: []
      height: 170
      id: '1779372204994'
      position:
        x: 7127.059288653221
        y: 2602.754967394185
      positionAbsolute:
        x: 7127.059288653221
        y: 2602.754967394185
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -894.9396489841547
      y: -1014.202175092611
      zoom: 0.5000000000000004
  rag_pipeline_variables: []
